
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #000;
    color: white;
}

/* MENU */
header {
    background: #000;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #3362a0;
}

header nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
}

header nav a:hover {
    color: #f89565;
}

/* LOGO */
.logo {
    width: 80px;
}

/* SEÇÕES */
.hero, .sobre, .horarios {
    padding: 40px;
    text-align: center;
}

h1 {
    font-size: 60px;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    color: #f89565;
}

/* CORES DA IDENTIDADE */
.cores {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
}

.cor {
    width: 150px;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    font-weight: bold;
}

/* SOBRE O PROFESSOR */
.perfil {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
}

.foto-prof {
    width: 250px;
    border-radius: 20px;
    margin-right: 30px;
}

.texto {
    max-width: 400px;
    font-size: 18px;
}

.email {
    margin-top: 20px;
    font-size: 20px;
    color: #f89565;
}

/* TABELA */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

th {
    background: #3362a0;
    padding: 15px;
}

td {
    background: #5b8ad1;
    padding: 15px;
    border: 1px solid #000;
}

.btn-voltar {
    display: inline-block;
    margin-top: 40px;
    padding: 10px 20px;
    background: #3362a0;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.btn-voltar:hover {
    background: #f89565;
}